POSTGRES_HOST="db-sansan_trigger2022"
POSTGRES_PORT=5432
POSTGRES_USER=hoge
POSTGRES_PASSWORD=hoge
PGPASSWORD=hoge
POSTGRES_DB=hoge
TZ="Asia/Tokyo"

# prd or dev
ENVIROMENT_TYPE="development"

# port
PORT=8080